# Major Project - Covid 19 Visualizations and Predictions 

By Dhanavikram S of Batch-3(Data-Science) submitted on 23-07-2020

In [37]:
#IMPORTING THE LIBRARIES

import datetime as dt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style(style='darkgrid')

## Importing Data

In [16]:
df = pd.read_csv('data/owid-covid-data.csv', parse_dates=['date'])

In [3]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [4]:
df.shape

(223309, 67)

### Filtering data for Country - India

In [5]:
#Choosing data having 'India' as location for the dataset

df = df.loc[df['location']=='India']

In [6]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
91636,IND,Asia,India,2020-01-30,1.0,1.0,NaN,NaN,NaN,NaN,...,1.9,20.6,59.55,0.53,69.66,0.645,NaN,NaN,NaN,NaN
91637,IND,Asia,India,2020-01-31,1.0,0.0,NaN,NaN,NaN,NaN,...,1.9,20.6,59.55,0.53,69.66,0.645,NaN,NaN,NaN,NaN
91638,IND,Asia,India,2020-02-01,1.0,0.0,NaN,NaN,NaN,NaN,...,1.9,20.6,59.55,0.53,69.66,0.645,NaN,NaN,NaN,NaN
91639,IND,Asia,India,2020-02-02,2.0,1.0,NaN,NaN,NaN,NaN,...,1.9,20.6,59.55,0.53,69.66,0.645,NaN,NaN,NaN,NaN
91640,IND,Asia,India,2020-02-03,3.0,1.0,NaN,NaN,NaN,NaN,...,1.9,20.6,59.55,0.53,69.66,0.645,NaN,NaN,NaN,NaN

In [7]:
df.shape

(987, 67)

In [8]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,9.870000e+02,986.000000,981.000000,946.000000,944.000000,939.000000,987.000000,986.000000,981.000000,946.000000,...,9.870000e+02,9.870000e+02,9.870000e+02,9.870000e+02,9.870000e+02,9.870000e+02,0.0,0.0,0.0,0.0
mean,2.281600e+07,45255.048682,45475.742387,302762.295983,552.408898,553.023592,16209.568432,32.151333,32.308137,215.096678,...,1.900000e+00,2.060000e+01,5.955000e+01,5.300000e-01,6.966000e+01,6.450000e-01,NaN,NaN,NaN,NaN
std,1.705734e+07,75318.339204,74808.175425,201823.757718,842.952096,804.894928,12118.338920,53.509735,53.147286,143.385163,...,2.221572e-16,3.554515e-15,7.109030e-15,1.110786e-16,1.421806e-14,2.221572e-16,NaN,NaN,NaN,NaN
min,1.000000e+00,0.000000,0.000000,1.000000,0.000000,0.286000,0.001000,0.000000,0.000000,0.001000,...,1.900000e+00,2.060000e+01,5.955000e+01,5.300000e-01,6.966000e+01,6.450000e-01,NaN,NaN,NaN,NaN
25%,6.511458e+06,5912.750000,6331.143000,123225.500000,58.750000,69.428500,4626.048500,4.201000,4.498000,87.545250,...,1.900000e+00,2.060000e+01,5.955000e+01,5.300000e-01,6.966000e+01,6.450000e-01,NaN,NaN,NaN,NaN
50%,2.890998e+07,17371.500000,17805.857000,396240.500000,290.500000,312.857000,20539.015000,12.341500,12.650000,281.508000,...,1.900000e+00,2.060000e+01,5.955000e+01,5.300000e-01,6.966000e+01,6.450000e-01,NaN,NaN,NaN,NaN
75%,4.237529e+07,45889.500000,45622.000000,511148.750000,585.000000,621.214500,30105.414500,32.602250,32.412000,363.144250,...,1.900000e+00,2.060000e+01,5.955000e+01,5.300000e-01,6.966000e+01,6.450000e-01,NaN,NaN,NaN,NaN
max,4.462132e+07,414188.000000,391232.000000,528847.000000,4529.000000,4190.000000,31701.098000,294.259000,277.950000,375.718000,...,1.900000e+00,2.060000e+01,5.955000e+01,5.300000e-01,6.966000e+01,6.450000e-01,NaN,NaN,NaN,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 987 entries, 91636 to 92622
Data columns (total 67 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   iso_code                                    987 non-null    object
 1   continent                                   987 non-null    object
 2   location                                    987 non-null    object
 3   date                                        987 non-null    object
 4   total_cases                                 987 non-null    float64
 5   new_cases                                   986 non-null    float64
 6   new_cases_smoothed                          981 non-null    float64
 7   total_deaths                                946 non-null    float64
 8   new_deaths                                  944 non-null    float64
 9   new_deaths_smoothed                         939 non-null    float64
 10  total_cases_per_million                     987 non-null    float64
 11  new_cases_per_million                       986 non-null    float64
 12  new_cases_smoothed_per_million              981 non-null    float64
 13  total_deaths_per_million                    946 non-null    float64
 14  new_deaths_per_million                      944 non-null    float64
 15  new_deaths_smoothed_per_million             939 non-null    float64
 16  reproduction_rate                           931 non-null    float64
 17  icu_patients                                0 non-null      float64
 18  icu_patients_per_million                    0 non-null      float64
 19  hosp_patients                               0 non-null      float64
 20  hosp_patients_per_million                   0 non-null      float64
 21  weekly_icu_admissions                       0 non-null      float64
 22  weekly_icu_admissions_per_million           0 non-null      float64
 23  weekly_hosp_admissions                      0 non-null      float64
 24  weekly_hosp_admissions_per_million          0 non-null      float64
 25  total_tests                                 810 non-null    float64
 26  new_tests                                   795 non-null    float64
 27  total_tests_per_thousand                    810 non-null    float64
 28  new_tests_per_thousand                      795 non-null    float64
 29  new_tests_smoothed                          824 non-null    float64
 30  new_tests_smoothed_per_thousand             824 non-null    float64
 31  positive_rate                               816 non-null    float64
 32  tests_per_case                              816 non-null    float64
 33  tests_units                                 831 non-null    object
 34  total_vaccinations                          616 non-null    float64
 35  people_vaccinated                           616 non-null    float64
 36  people_fully_vaccinated                     587 non-null    float64
 37  total_boosters                              263 non-null    float64
 38  new_vaccinations                            599 non-null    float64
 39  new_vaccinations_smoothed                   635 non-null    float64
 40  total_vaccinations_per_hundred              616 non-null    float64
 41  people_vaccinated_per_hundred               616 non-null    float64
 42  people_fully_vaccinated_per_hundred         587 non-null    float64
 43  total_boosters_per_hundred                  263 non-null    float64
 44  new_vaccinations_smoothed_per_million       635 non-null    float64
 45  new_people_vaccinated_smoothed              635 non-null    float64
 46  new_people_vaccinated_smoothed_per_hundred  635 non-null    float64
 47  stringency_index                            980 non-null    float64
 48  population                                  987 non-null    float64
 49  population_density                          987 non-null    float64
 50  median_age                                  987 non-null    float64
 51  aged_65_older                               987 non-null    float64
 52  aged_70_older                               987 non-null    float64
 53  gdp_per_capita                              987 non-null    float64
 54  extreme_poverty                             987 non-null    float64
 55  cardiovasc_death_rate                       987 non-null    float64
 56  diabetes_prevalence                         987 non-null    float64
 57  female_smokers                              987 non-null    float64
 58  male_smokers                                987 non-null    float64
 59  handwashing_facilities                      987 non-null    float64
 60  hospital_beds_per_thousand                  987 non-null    float64
 61  life_expectancy                             987 non-null    float64
 62  human_development_index                     987 non-null    float64
 63  excess_mortality_cumulative_absolute        0 non-null      float64
 64  excess_mortality_cumulative                 0 non-null      float64
 65  excess_mortality                            0 non-null      float64
 66  excess_mortality_cumulative_per_million     0 non-null      float64
dtypes: float64(62), object(5)
memory usage: 524.3+ KB

## Univariate Analysis

#### Histogram of all Numerical columns:

In [ ]:
#Since there are lots of numerical column, we use a for loop in-order to plot
#histograms for all numerical columns

for i in df:
    if (df[i].dtype!='object'):
        plt.figure()
        sns.distplot(df[i],kde=False)
        plt.show()

#### Mean, Median and Mode of each column

In [ ]:
df.mean()

In [ ]:
df.median()

In [ ]:
df.mode()

## 2.Bivariate Analysis

In [ ]:
#Using two for loops for plotting scatter plots of all numerical columns versus one another

for column1 in df:
    for column2 in df:
        if(df[column1].dtype!='object'):
            if(df[column2].dtype!='object'):
                if(column1!=column2):
                    plt.figure()
                    sns.scatterplot(x=df[column1],y=df[column2])
                    plt.show()

In [ ]:
#Using two for loops for plotting line plots of all numerical columns versus one another

for column1 in df:
    for column2 in df:
        if(df[column1].dtype!='object'):
            if(df[column2].dtype!='object'):
                if(column1!=column2):
                    plt.figure()
                    sns.lineplot(x=df[column1],y=df[column2])
                    plt.show()

## Handling of Missing Data

In [10]:
df.count()

iso_code                                   987
continent                                  987
location                                   987
date                                       987
total_cases                                987
                                          ...
human_development_index                    987
excess_mortality_cumulative_absolute         0
excess_mortality_cumulative                  0
excess_mortality                             0
excess_mortality_cumulative_per_million      0
Length: 67, dtype: int64

In [11]:
#Finding the count of null values in the dataset

df.isna().sum()

iso_code                                     0
continent                                    0
location                                     0
date                                         0
total_cases                                  0
                                          ...
human_development_index                      0
excess_mortality_cumulative_absolute       987
excess_mortality_cumulative                987
excess_mortality                           987
excess_mortality_cumulative_per_million    987
Length: 67, dtype: int64

In [23]:
for x in df.columns:
    if df[x].dtype=='object':
        print(x)

iso_code
continent
location

In [19]:
for i in df.columns:
    if((df[i].isna().sum())>(df[i].count()/2)):
        df = df.drop(columns=i, axis=1)

In [29]:
print(df.shape)
df.isna().sum()

(223309, 29)

iso_code                               0
continent                          12829
location                               0
date                                   0
total_cases                         9160
new_cases                           9391
new_cases_smoothed                 10587
total_deaths                       28312
new_deaths                         28366
new_deaths_smoothed                29546
total_cases_per_million            10139
new_cases_per_million              10370
new_cases_smoothed_per_million     11561
total_deaths_per_million           29278
new_deaths_per_million             29332
new_deaths_smoothed_per_million    30507
reproduction_rate                  56592
stringency_index                   55014
population                          1296
population_density                 24961
median_age                         39760
aged_65_older                      41697
aged_70_older                      40721
gdp_per_capita                     40396
cardiovasc_death_rate              40251
diabetes_prevalence                30858
hospital_beds_per_thousand         60394
life_expectancy                    14638
human_development_index            44754
dtype: int64

In [31]:
# Removing cols with dtype 'object'
df = df.drop(columns=['iso_code', 'location', 'continent'])
# Filling remaining null values with mean of the corresponding column
df = df.fillna(df.mean())

/tmp/ipykernel_28955/847245728.py:4: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df = df.fillna(df.mean())

In [38]:
df["date"] = df["date"].map(dt.datetime.toordinal)

## Splitting Data

In [39]:
x=df.drop(['total_cases'],axis=1).values

In [40]:
y=df['total_cases'].values

In [41]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

## Modelling

In [51]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

### 1.Linear Regression

In [43]:
reg1 = LinearRegression()
reg1.fit(x_train,y_train)

LinearRegression()

In [44]:
linear_y_pred=reg1.predict(x_test)

### 2.Random Forest Regression

In [45]:
reg2 = RandomForestRegressor(n_estimators=10,random_state=0)
reg2.fit(x_train,y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [46]:
rfr_y_pred=reg2.predict(x_test)

In [52]:
reg3 = DecisionTreeRegressor(random_state=0)
reg3.fit(x_train, y_train)
dec_y_pred=reg3.predict(x_test)

In [53]:
reg3.score(x_test, y_test)

0.9999329985406502

## Accuracy of the models:

### 1.Linear Regression

In [47]:
reg1.score(x_test,y_test)

0.9287995886968696

In [48]:
acc1 = (reg1.score(x_test,y_test))*100
print(f"The accuracy of Linear Regression Model is {acc1}%")

The accuracy of Linear Regression Model is 92.87995886968696%

### 2.Random Forest Regression

In [49]:
reg2.score(x_test,y_test)

0.9999756381027337

In [50]:
acc2 = (reg2.score(x_test,y_test))*100
print(f"The accuracy of Random Forest Regression Model is {acc2}%")

The accuracy of Random Forest Regression Model is 99.99756381027338%

## Predicting Total cases for a new date

In [ ]:
date1 = input("Enter a date(yyyy-mm-dd):")
date=pd.to_datetime(date1)
date=date.toordinal()
date = np.array(date)

In [ ]:
#Using mean values to create a new data

new = (pd.DataFrame(df.mean())).transpose()

In [ ]:
new.shape

In [ ]:
#Replacing the data's date with the user entered date

new['date']=date
new=new.drop('total_cases',axis=1).values

### Linear Regression

In [ ]:
print(f"The predicted no of total cases for the date {date1} is {reg1.predict(new)}")

### Random Forest Regression

In [ ]:
print(f"The predicted no of total cases for the date {date1} is {reg2.predict(new)}")

This project is submitted on 23-07-2020 by Dhanavikram S of Batch-3(Data-Science)